*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("../img/bg2.jpeg");
}

.frame{
    width: 1450px;
    height: 850px;
    display: grid;
    place-items: center;
    background-image: url("../img/frame2.png");
    background-repeat: no-repeat;
}